
# Косая черта в конце шаблона означает каталог. Все содержимое любого каталога репозитория, 
# соответствующего этому имени (включая все его файлы и подкаталоги), будет игнорироваться
.env
.session_name.session
.idea/
.vscode/
logs/
env/
.venv/
instantclient_21_8/
# Добавьте в начало шаблона две звездочки, чтобы сопоставлять каталоги в любом месте репозитория.
**pycache
# Косая черта перед именем файла соответствует файлу в корневом каталоге репозитория.
/.env.config
# По умолчанию шаблоны соответствуют файлам, находящимся в любом каталоге
# в .git/info/exclude, можно определить персональные шаблоны игнорирования для конкретного репозитория
# например docker-compose-dan*
# docker-compose.debug.yml
# docker-compose.yml